# Have to install from source ,pecl7 trys to be smart, installs and makes confiugration changes, then breaks it on AWS EB PHP 7.2
#  so much that php -i then reports that it is php 7.0.3
commands:
    01_xdebug_install:
        cwd: /tmp
        command: |
            wget https://xdebug.org/files/xdebug-2.7.0.tgz -O xdebug-2.7.0.tgz \
            && tar -xvzf xdebug-2.7.0.tgz \
            && cd xdebug-2.7.0 \
            && phpize \
            && ./configure \
            && make \
            && cp modules/xdebug.so /usr/lib64/php/7.2/modules

files:
  "/etc/php-7.2.d/xdebug.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      zend_extension = /usr/lib64/php/7.2/modules/xdebug.so
      xdebug.remote_enable=1
      xdebug.remote_port=9000
      xdebug.remote_host="127.0.0.1"
      xdebug.remote_connect_back=0
      xdebug.remote_mode=req
      xdebug.idekey="rehan_xdebug_ses"

container_commands:
    01_reload_server:
        command: /sbin/service httpd restart